@import "../../config/globals";


.todos-actionbar {
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;
    align-items: center;
    color: $c-actionbar-text;
    font-weight: 200;
    @include clearfix();
    }

    .todos-actionbar_counter {
        float: left;
        margin-left: $offset_3x;
        }

    .todos-actionbar_clear-button {
        float: right;
        position: relative;
        order: 2;
        margin-right: $offset_3x;
        padding: 0;
        outline: none;
        background: none;
        border: none;
        color: inherit;
        font-weight: inherit;
        }
