@import "../../config/globals";


.todos-item {
    display: flex;
    align-items: center;
    min-height: 60px;
    background: none;
    padding: 0;
    border-bottom: 1px solid $c-common-border;
    @include clearfix();

    &:hover {
        background-color: $c-hover;
    }

    &:hover .todos-item_remove {
        opacity: 1;
    }

    &.__ready .todos-item_text {
        text-decoration: line-through;
        color: $c-light-text;
    }

    &.__hide {
        display: none;
    }
    }

    .todos-item_ready-mark {
        float: left;
        position: relative;

        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;
        }

    .todos-item_text {
        flex: 1 0;
        position: relative;

        font-size: $fs-item;
        font-weight: 200;
        color: $c-text;

        border: 0;
        outline: none;
        background: none;

        line-height: 30px;
        margin-top: 14px;
        margin-bottom: 14px;
        word-wrap: break-word;
        }

    .todos-item_remove {
        align-self: flex-end;
        width: 42px;
        height: 60px;

        float: right;
        order: 3;
        position: relative;

        padding: 0;
        margin: 0;
        background: none;
        outline: none;
        border: none;

        opacity: 0;
        }

        .todos-item_remove_icon {
            width: 18px;
            height: 18px;
            background: url('../../../images/icons/close.png') no-repeat 0 0;
            @include retina('../../../images/icons/close@2x.png');
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -9px -9px;
            }
