@import "../../config/globals";


.todos-container {
    background: $c-todos-bg;
    box-shadow: 0 2px 4px $c-shadow;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        background: $c-todos-bg;
        box-shadow: 0 2px 4px $c-shadow;
        z-index: -1;
    }

        &:before {
            height: 10px;
            left: 4px;
            right: 4px;
        }

        &:after {
            height: 5px;
            left: 2px;
            right: 2px;
        }
    }
