.todos-item {
    display: flex;
    align-items: center;
    min-height: 60px;
    background: none;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
    }

    .todos-item:hover {
        background-color: #fafafa;
        }

    .todos-item:hover > .todos-item_remove {
        opacity: 100;
        }

    .todos-item_ready-mark {
        float: left;
        position: relative;

        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;
        }

        .todos-item_ready-mark_target {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            }

            /* Зачеркнуть текст, когда чекбокс активный, через css не получается,
               т.к. текст находится на уровне родителя */
            .todos-item_ready-mark_target:checked ~ .todos-item_ready-mark_visual {
                background: url('../../img/icons/completed.png') no-repeat 50% 65%;
                border-color: #5dc2af;
                }

        .todos-item_ready-mark_visual {
            border: 1px solid #e7e7e7;
            margin: 12px;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            }

    .todos-item_text {
        flex: 1 0;
        position: relative;

        font-size: 24px;
        font-weight: 200;
        color: #666;

        border: 0;
        outline: none;
        background: none;

        line-height: 30px;
        margin-top: 14px;
        margin-bottom: 14px;
        word-wrap: break-word;
        }

    .todos-item_remove {
        align-self: flex-end;
        width: 42px;
        height: 60px;

        float: right;
        order: 3;
        position: relative;

        padding: 0;
        margin: 0;
        background: none;
        outline: none;
        border: none;

        opacity: 0;
        }

        .todos-item_remove_icon {
            width: 18px;
            height: 18px;
            background: url('../../img/icons/close.png') no-repeat 0 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -9px -9px;
            }
