@import "./config/globals";

body, input, button, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: $font-main;
    font-size: $fs-base;
}

body {
    background: $c-main-bg;
    }

.main-wrapper {
    min-width: 400px;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 $offset_5x;
    }
