$c-main-bg: #f5f5f5;
$c-todos-bg: #fff;
$c-todos-title: rgba(175, 47, 47, .15);
$c-text: #666;
$c-actionbar-text: #888;
$c-light-text: #ccc;
$c-hover: #fafafa;
$c-shadow: rgba(0, 0, 0, .2);
$c-common-border: #e6e6e6;
$c-checkbox-border: #5dc2af;
