@import "../config/globals";

.ready-mark {
    margin: 0;
    padding: 0;
    }

    .ready-mark_target {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        }

    .ready-mark_visual {
        border: 1px solid #e7e7e7;
        margin: $offset_3x;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        }
